.toast {
    width: 365px;
    padding: 10px 20px;
    color: var(--color-white);
    position: fixed;
    bottom: 24px;
    right: 24px;
    border-radius: 4px;
}

.toast__description {
    margin: 16px 0 0 0;
}

.toast--error {
    background: var(--color-error);
}

@keyframes bounce {
    0% {
        transform: translateY(24px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.bounce-animation {
    animation: bounce ease-in-out 300ms;
}


